# Pages configuration
name = "discord-tools"
compatibility_date = "2024-01-01"

[build]
command = "npm run build"
dist = "dist"

[site]
bucket = "./dist"

[env.production]
vars = { ENVIRONMENT = "production" }

[env.development]
vars = { ENVIRONMENT = "development" } 