name = "discord-tools-api"
main = "server/index.ts"
compatibility_date = "2024-01-01"

# Pages configuration
pages_build_output_dir = "dist"

# Development environment
[env.development]
vars = { ENVIRONMENT = "development" }
workers_dev = true

[[env.development.kv_namespaces]]
binding = "RATE_LIMIT_STORE"
preview_id = "test_namespace"
id = "test_namespace"

# Production environment
[env.production]
vars = { ENVIRONMENT = "production", DISCORD_BOT_TOKEN = "" }
workers_dev = false
route = { pattern = "discordtest.com/api/*", custom_domain = true }

[[env.production.kv_namespaces]]
binding = "RATE_LIMIT_STORE"
id = ""

[build]
command = "npm run build"
watch_dir = "server"
